body {
    background-color: rgb(177, 51, 51);
    text-align: center;
    background-image: url(../images/burgers.gif);
    font-family: 'Permanent Marker', cursive;
}

#addburger {
    background-color: darkgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 150px 150px 150px 150px;
    border-style: groove;
}

#ca {
    border-radius: 0px;
}

#devoured, #uneaten {
    background-color: transparent;

}

#uneatenBurgers, #devouredBurgers{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: grey;
    text-align: center;
    border-radius: 30px 30px 50px 50px;
    border-style: groove;
}

#button {
    background-color: white;
    border-radius: 150px 150px 150px 150px;
    border-style: groove;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(49, 49, 148);
    border-radius: 50px 50px 30px 30px ;
    padding: 20px;
    border-style: groove;
}

#buttonimg {
    height: 20px;
    width: auto;
    margin-bottom: 2px;
}